#about {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-wrap: wrap;
}

#about header {
  color: gray;
}

#about article {
  max-width: 500px;
  line-height: 2px;
  color: gray;
}
